
$font-titulo: 'Roboto', sans-serif;
$size-title: 6rem;
$size-subtitle: 4rem;
$colortext: white;
$colorfondo: rgb(40,83,154);
$colorfondo: linear-gradient(90deg, rgba(40,83,154,1) 0%, rgba(23,56,184,1) 50%, rgba(2,6,107,1) 100%);

